.scrollComponent {
  display: flex;
  justify-content: center;
}

.createPostContainer {
  display: flex;
  height: 13svh;
  width: 100%;
  padding-inline: 0.8rem;
  gap: 1.3rem;
  position: relative;
  align-items: center;
  background-color: rgb(202, 217, 223);
  border-radius: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 80% !important;
}

.uploadButton {
  position: absolute;
  right: 0;
  bottom: -60%;
  background-color: rgb(55, 117, 168);
  color: rgb(243, 247, 247);
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  cursor: pointer;
}

.userProfile {
  border-radius: 100%;
  height: 70%;
  width: fit-content;
}

/* .createPostContainer > textarea {
  width: 100%;
} */

.Fab {
  background-color: rgb(27, 95, 151);
  border-radius: 100%;
  justify-content: center;
  display: flex;
}

.Fab > svg {
  width: fit-content;
  height: 30px;
  color: rgb(235, 240, 239);
}

.textAreaOfContent {
  width: 80%;
  height: 70%;
  border: 1px solid rgb(199, 197, 197);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  background-color: rgb(243, 247, 247);
  outline: none;
}

.singleCard {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid rgb(199, 197, 197);
}

.singleCard_profileContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 1.2rem;
  padding-right: 3.4rem;
}

.singleCard_profileContainer > img {
  width: 50px;
  border-radius: 50%;
}

.singleCard_image {
  width: 100%;
  padding-top: 0.6rem;
  height: fit-content;
  overflow: hidden;
}

.singleCard_image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  border-bottom: 1px solid rgb(138, 85, 85);
}

.optionsContainer {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: space-between;
  padding-block: 0.6rem;
}

.singleOption_optionsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  cursor: pointer;
}

.singleOption_optionsContainer > svg {
  height: 100%;
  width: 13%;
}

.commentContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgb(0, 0, 0, 0.7);
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}

.allCommentsContainer {
  width: 40vw;
  height: 80vh;
  background: wheat;
  border-radius: 10px;
  position: relative;
  padding: 1.4rem;
}

.postCommentsContainer {
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.postCommentsContainer > input {
  flex: 0.9;
  padding-inline: 1.5rem;
  padding-block: 1.2rem;
  border: none;
  outline: none;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
}

.postCommentsContainer > input:focus {
  border: 1px solid rgb(104, 101, 101);
}

.postCommentsContainer_commentBtn {
  flex: 0.1;
  width: fit-content;
  padding: 1rem;
  background: rgb(60, 126, 143);
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}
