.container {
  padding: 1.2rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4vh;
}

.navBarOptionContainer {
  display: flex;
}

.buttonJoin {
  background-color: rgb(145, 211, 189);
  border-radius: 10px;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: rgb(7, 7, 7);
  cursor: pointer;
  font-size: 0.9rem;
}

.homeHeading {
  font-size: 1.8rem;
}

.homeHeading img {
  height: 140px;
}


.logout{
  background-color: rgb(161, 198, 211);
  border-radius: 10px;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: rgb(7, 7, 7);
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: -0.7rem;
  margin-left: 1rem;
  margin-right: 0.6rem;
}