.homeContainer {
  display: flex;
}

.homeContainer > div:nth-child(odd) {
  flex: 0.2;
}

.homeContainer > div:nth-child(even) {
  flex: 0.6;
}

.homeContainer_leftBar {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  border-right: 1px solid rgb(226, 224, 224);
}

.sideBarOption {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 1.3rem;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s;
}

.sideBarOption:hover {
  transform: scale(1.04);
}

.sideBarOption > svg {
  height: 1.4em;
  min-width: fit-content;
}

.homeContainer_extraContainer {
  border-left: 1px solid rgb(226, 224, 224);
  padding-left: 1.2rem;
}

.homeContainer_feedContainer {
  padding-inline: 1rem;
}

.mobileNavbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 6vh;
  display: none;
  justify-content: space-around;
  background: white;
  align-items: center;
}

.mobileNavbar svg {
  height: 2rem;
  width: 2rem;
}

.homeContainer_extraContainer {
  border-left: 1px solid rgb(226, 224, 224);
  padding-left: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.homeContainer_extraContainer h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(55, 117, 168);
  margin-bottom: 1rem;
}

.extraContainer_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: rgb(243, 247, 247);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 85%;
  max-width: 270px;
  margin: 0 auto;
}

.extraContainer_profile:hover {
  transform: scale(1.05);
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(55, 117, 168);
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileName {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(55, 117, 168);
}

.profileUsername {
  font-size: 0.8rem;
  color: gray;
}

@media only screen and (max-width: 600px) {
  .homeContainer_extraContainer {
    display: none;
  }

  .homeContainer {
    display: block;
  }
  .homeContainer_leftBar {
    display: none;
  }
  .mobileNavbar {
    display: flex;
  }
  .homeContainer_feedContainer {
    padding-bottom: 8vh;
  }
}
